---
site_url: https://codefor.vision/covid19-az
---

<!doctype html>
<html lang="az">
  <!-- Contribute: github.com/codeforvision/covid19-az -->
  <head data-ga-id="UA-117418348-7">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="description" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site_url }}">
    <meta property="og:image" content="{{ site_url }}/assets/og_image.png">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site_url }}/favicon-32x32.png?v0">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site_url }}/favicon-16x16.png?v0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site_url }}/favicon.ico?v0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700;800&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/purecss@1.0.1/build/base-min.css,npm/purecss@1.0.1/build/grids-min.css,npm/purecss@1.0.1/build/forms-min.css,npm/purecss@1.0.1/build/buttons-min.css">
    {% assign current_page = page.filePathStem | remove: '/' %}
    {% unless current_page == 'test' %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/c3@0.7.15/c3.min.css">
    {% endunless %}
    <link rel="stylesheet" href="{{ site_url }}/assets/main.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117418348-7"></script>
    <script>
      var gaID = window.location.hostname === 'localhost' ? '' : document.head.getAttribute('data-ga-id');
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', gaID);
    </script>
    <script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5e8ca38bc8b6c2001222f707&product=inline-share-buttons"></script>
  </head>
  <body>
    <div class="pure-g">
      <div class="pure-u-3-5 container {{ current_page }}">
        {{ content }}
      </div>
    </div>
    <footer class="pure-g">
      <div class="pure-u-5-5">
        <h3 class="title">Səhifəni sosial şəbəkələrdə paylaşın</h3>
        <h4 class="description">Koronavirus və ondan qorunma üsulları haqqında mümkün qədər çox insan məlumat almalıdı.</h4>
        <div class="sharethis-inline-share-buttons"></div>
      </div>
    </footer>
    {% if current_page == 'test' %}
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue-gtag@1.6.2/dist/vue-gtag.umd.min.js"></script>
      <script src="/assets/test.js"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/d3@5.15.0/dist/d3.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/c3@0.7.15/c3.min.js"></script>
      <script src="{{ site_url }}/assets/main.js"></script>
    {% endif %}
  </body>
</html>
